.advantages__header {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages-content__item {
  padding-left: 20px;
  padding-right: 20px;

  &--background-blue {
    background-color: #81b3d2;
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 768px) {
      grid-column: 1/4;
      display: flex;
    }
  }

  @media (min-width: 768px) {
    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &--bridge {
    background-color: #eeeeee;
  }
}

.advantages-content__wrapper {
  padding: 36px 22px 40px 16px;
  text-align: center;
}

.advantages-content__title {
  margin-bottom: 16px;

  &--meta-white {
    color: #ffffff;
    margin-bottom: 11px;
  }
}

.advantages-content__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px 330px 256px 256px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.advantages-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;

  &--meta-white {
    color: #ffffff;
  }
}

.advantages-content__number-white {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  display: block;
  margin-bottom: 17px;
}

.advantages-content__images {
  object-fit: cover;
  width: 320px;

  @media (min-width: 768px) {
    width: 100%;
    max-width: 768px;
    height: 100%;
  }
}
