.advantages {
}
.advantages__wrapper {
}
.advantages__header {
}
.visually-hidden {
}
.advantages__slogan {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-bottom: 35px;
}
.advantages__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333;
  margin: 0;
  margin-bottom: 32px;
}
.advantages-content {
}
.advantages-content__list {
}
.advantages-content__item {
}

.advantages-content__wrapper {
  padding: 54px 22px 40px 16px;
}
.advantages-content__item--color {
  background-color: #81B3D2;
}
.advantages-content__background {
  background-color: #EEEEEE;
}
.advantages-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-bottom: 16px;

  &--color {
    color: #fff;
    margin-bottom: 49px;
  }
}

.advantages-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  text-transform: uppercase;
  margin: 0;

  &--color {
    font-weight: 700;
    color: #fff;
  }
}

