.advantages-content__item {
  padding-left: 18px;
  padding-right: 18px;

  &--background-blue {
    background-color: #81b3d2;
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 768px) {
      grid-column: 1/4;
      display: flex;
    }
  }

  @media (min-width: 768px) {
    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &--bridge {
    background-color: #eeeeee;
    text-align: center;
    padding: 26px 35px 22px 35px;

    @media (min-width: 768px) {
      padding: 45px 40px 42px 40px;
    }

    &:not(:last-child) {
      border-bottom: #d6d6d6 solid 1px;

      @media (min-width: 768px) {
        border-bottom: none;
      }
    }
  }

  &--home {
    background: url(../../img/home.svg)no-repeat 18px 26px;
    padding-top: 26px;

    @media (min-width: 768px) {
      padding-top: 162px;
      text-align: center;
      background-position: center 60px;
      background-size: 75px;
    }
  }

  &--food {
    background: url(../../img/food.svg)no-repeat 19px 25px;
    padding-top: 26px;

    @media (min-width: 768px) {
      padding-top: 162px;
      text-align: center;
      background-position: center 64px;
      background-size: 76px;
    }
  }

  &--gift {
    background: url(../../img/gift.svg)no-repeat 22px 21px;
    padding-top: 23px;
    margin-bottom: 52px;

    @media (min-width: 768px) {
      padding-top: 162px;
      text-align: center;
      background-position: center 55px;
      background-size: 64px;
      margin-bottom: 0;
    }
  }
}

.advantages-content__end {
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.advantages-content__end-title {
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
  }
}

.advantages-content__description--padding {
  padding-left: 46px;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

// .advantages-content__title--padding {
//   padding-left: 46px;

  // @media (min-width: 768px) {
  //   padding-left: 0;
  // }
// }

.advantages-content__title--margin {
  margin-top: 6px;

  @media (min-width: 768px) {
    margin-top: 26px;
  }
}

.advantages-content__wrapper {
  padding: 39px 18px 37px 18px;
  text-align: center;

  @media(min-width: 768px) {
    padding: 43px 30px 41px 30px;
  }
}

.advantages-content__title {
  margin-bottom: 16px;

  @media(min-width: 768px) {
    margin: 0;
    font-size: 21px;
  }

  &--meta-white {
    font-size: 21px;
    margin: 0;
    color: #ffffff;
    margin-bottom: 11px;
  }

  &--margin-bottom {
    margin-bottom: 11px;
  }
}

.advantages-content__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px 330px 256px 256px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.advantages-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;

  &--meta-white {
    color: #ffffff;
  }
}

.advantages-content__number-white {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  display: block;
  margin-bottom: 23px;
}

.advantages-content__number {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  display: block;
  margin-bottom: 17px;

  @media(min-width: 768px) {
    margin-bottom: 23px;
  }
}

.advantages-content__images {
  object-fit: cover;
  display: block;

  @media (min-width: 768px) {
    width: 512px;
    height: auto;
  }

  @media (min-width: 1200px) {
    width: 800px;
    height: auto;
  }
}

.advantages-content__item--home .advantages-content__title--padding {
  padding-left: 47px;

  @media (min-width: 768px) {
    padding-left: 0;
    margin-bottom: 23px;
  }
}

.advantages-content__item--food .advantages-content__title--padding {
  padding-left: 50px;

    @media (min-width: 768px) {
    padding-left: 0;
    margin-bottom: 23px;
  }
}

.advantages-content__item--gift .advantages-content__title--padding {
  padding-left: 43px;

    @media (min-width: 768px) {
    padding-left: 0;
    margin-bottom: 23px;
  }
}

.advantages-content__item--food .advantages-content__description--padding {
  padding-left: 52px;

    @media (min-width: 768px) {
    padding-left: 0;
  }
}

.advantages-content__item--gift .advantages-content__description--padding {
  padding-left: 44px;

    @media (min-width: 768px) {
    padding-left: 0;
  }
}

