.background-img {
  background-image: url("../../img/background-forest.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 32px;
  padding-top: 90px;
  padding-bottom: 165px;
}

.background-img__hero {
  object-fit: contain;
  width: 100%;
}
