.background-img {
  background-image: url("../../img/background-forest.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 32px;
  padding-top: 90px;
  padding-bottom: 85px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(../../img/intro-triangle.svg.png) no-repeat bottom;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;

    @media (min-width:768px) {
      background: url(../../img/intro-triangle-tablet.svg) no-repeat bottom;
    }

    @media (min-width:1200px) {
      background: url(../../img/intro-triangle-desktop.svg) no-repeat bottom;
    }
  }
}

.background-img__hero {
  object-fit: contain;
  width: 100%;
}
