.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  display: block;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.button__search-hotel {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: 768px) {
    width: 458px;
    margin: 0 auto;
  }
}
