.catalog__header {
  padding-bottom: 27px;
  margin-bottom: 17px;
  padding-left: 60px;
  padding-right: 60px;
}

.catalog__img {
  width: 100%;
  object-fit: cover;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 400px 347px 347px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 347px;
    padding-left: 0;
    padding-right: 0;
  }
}

.catalog__title {
  margin-bottom: 25px;
}

.catalog__slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.catalog__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 1px;
}

.catalog__item-autor {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.catalog__item {
  padding-bottom: 25px;

  @media (min-width: 768px) {
    &--wide {
      grid-column: 1/3;
      height: 400px;
    }
  }

  @media (min-width: 1200px) {
    &--wide {
      grid-column: 1/4;
    }
  }
}

.catalog__item:not(:last-child) {
  margin-bottom: 25px;
}

.catalog__item-number {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
