.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 28px 80px 22px 80px;
}

.footer__wripper {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: initial;
    justify-content: space-between;
  }
}
