.main-nav {
}
.main-nav__list {
}
.main-nav__item {
}
.main-nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
}
.main-nav__toggle {
}
.visually-hidden {
}
