.map {
  max-width: 320px;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.map img {
  object-fit: cover;
  width: 100%;
  display: block;

  &--size {
    margin-bottom: 10px;
  }
}
