.search-hotel {
  padding: 43px 18px 50px 18px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 61px 18px 54px 18px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 11px;
  }
}

.search-hotel__question {
  display: block;
  margin-bottom: 19px;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 21px;

  @media (min-width: 768px) {
    line-height: 26px;
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.search-hotel__aside {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 11px;
  padding-right: 11px;

  @media (min-width: 768px) {
    margin-bottom: 43px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 46px;
  }

  &--end {
    display: none;

    @media (min-width: 768px) {
      display: inline-block;
    }
  }
}

.search-hotel__wrapper {
  margin: 0 auto;
}

.search-hotel__link {
  text-decoration: none;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: 768px) {
    width: 458px;
    margin: 0 auto;
  }
}
