.search-hotel {
  padding: 42px 18px 54px 18px;
  text-align: center;
}

.search-hotel__question {
  display: block;
  margin-bottom: 19px;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 21px;
}

.search-hotel__aside {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 11px;
  padding-right: 11px;

  &--end {
    display: none;

    @media (min-width: 768px) {
      display: inline-block;
    }
  }
}

.search-hotel__wrapper {
  margin: 0 auto;
}
