.social {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.social__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  width: 156px;
  justify-content: space-between;
}

.social__svg {
  fill: #81b3d2;

  &:hover {
    fill: #669ec0
  }
}
