.main-header {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.advantages__slogan {
  margin-bottom: 35px;
  text-align: center;
  padding-right: 12px;
  padding-left: 12px;
}
.advantages__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}
.advantages__header {
  position: relative;
}
@media (min-width: 768px) {
  .advantages__header {
    width: 520px;
    margin: 0 auto;
  }
}
.advantages__header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../../img/advantages-triangle.png") no-repeat bottom;
  right: 0;
  left: 0;
  bottom: -33%;
}
@media (min-width: 768px) {
  .advantages__header::before {
    background: none;
  }
}
.advantages__header {
  padding-left: 20px;
  padding-right: 20px;
}
.advantages-content__item {
  padding-left: 20px;
  padding-right: 20px;
}
.advantages-content__item--background-blue {
  background-color: #81b3d2;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .advantages-content__item--background-blue {
    grid-column: 1/4;
    display: flex;
  }
}
@media (min-width: 768px) {
  .advantages-content__item--reverse {
    flex-direction: row-reverse;
  }
}
.advantages-content__item--bridge {
  background-color: #eeeeee;
  text-align: center;
  padding: 24px 35px 26px 35px;
}
@media (min-width: 768px) {
  .advantages-content__item--bridge {
    padding: 42px 40px 42px 40px;
  }
}
.advantages-content__item--bridge:not(:last-child) {
  border-bottom: #d6d6d6 solid 1px;
}
@media (min-width: 768px) {
  .advantages-content__item--bridge:not(:last-child) {
    border-bottom: none;
  }
}
.advantages-content__item--home {
  background: url("../../img/home.svg") no-repeat 20px 26px;
  padding-top: 26px;
}
@media (min-width: 768px) {
  .advantages-content__item--home {
    padding-top: 131px;
    text-align: center;
    background-position: center 60px;
    background-size: 75px;
  }
}
.advantages-content__item--food {
  background: url("../../img/food.svg") no-repeat 20px 26px;
  padding-top: 26px;
}
@media (min-width: 768px) {
  .advantages-content__item--food {
    padding-top: 131px;
    text-align: center;
    background-position: center 64px;
    background-size: 76px;
  }
}
.advantages-content__item--gift {
  background: url("../../img/gift.svg") no-repeat 20px 26px;
  padding-top: 26px;
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .advantages-content__item--gift {
    padding-top: 131px;
    text-align: center;
    background-position: center 55px;
    background-size: 64px;
  }
}
.advantages-content__item--end {
  display: none;
}
@media (min-width: 768px) {
  .advantages-content__item--end {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .advantages-content__item--end {
    display: none;
  }
}
.advantages-content__item--end-title {
  display: none;
}
@media (min-width: 768px) {
  .advantages-content__item--end-title {
    display: inline-block;
  }
}
.advantages-content__item--padding {
  padding-left: 46px;
}
@media (min-width: 768px) {
  .advantages-content__item--padding {
    padding-left: 0;
  }
}
.advantages-content__title--padding {
  margin-top: 8px;
}
@media (min-width: 768px) {
  .advantages-content__title--padding {
    margin-top: 26px;
  }
}
.advantages-content__wrapper {
  padding: 36px 22px 40px 16px;
  text-align: center;
}
.advantages-content__title {
  margin-bottom: 16px;
}
.advantages-content__title--meta-white {
  color: #ffffff;
  margin-bottom: 11px;
}
.advantages-content__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages-content__list {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px 330px 256px 256px;
  }
}
@media (min-width: 1200px) {
  .advantages-content__list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}
.advantages-content__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}
.advantages-content__description--meta-white {
  color: #ffffff;
}
.advantages-content__number-white {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  display: block;
  margin-bottom: 17px;
}
.advantages-content__number {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  display: block;
  margin-bottom: 17px;
}
.advantages-content__images {
  object-fit: cover;
  width: 320px;
  display: block;
}
@media (min-width: 768px) {
  .advantages-content__images {
    width: 100%;
    max-width: 768px;
    height: 100%;
  }
}
.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  display: block;
}
.button__search-hotel {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .button__search-hotel {
    width: 458px;
    margin: 0 auto;
  }
}
.catalog-page__body {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .catalog-page__body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .catalog-page__body {
    width: 1200px;
  }
}
.catalog__header {
  padding-bottom: 44px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-bottom: #e5e5e5 solid 1px;
}
@media (min-width: 768px) {
  .catalog__header {
    border-bottom: none;
  }
}
.catalog__img {
  width: 100%;
  object-fit: cover;
  display: block;
}
@media (min-width: 768px) {
  .catalog__img {
    height: 267px;
  }
}
.catalog__img--wide {
  height: 280px;
}
@media (min-width: 768px) {
  .catalog__img--wide {
    height: 400px;
  }
}
.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 480px 347px 347px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 267px;
    padding-left: 0;
    padding-right: 0;
  }
}
.catalog__title {
  margin-bottom: 25px;
}
.catalog__slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.catalog__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 1px;
  display: block;
}
@media (min-width: 1200px) {
  .catalog__item-title {
    color: #ffffff;
  }
}
.catalog__item-autor {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  display: block;
}
@media (min-width: 1200px) {
  .catalog__item-autor {
    color: #ffffff;
  }
}
.catalog__item {
  padding-bottom: 25px;
  position: relative;
}
@media (min-width: 768px) {
  .catalog__item {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .catalog__item--wide {
    grid-column: 1/3;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .catalog__item--wide {
    grid-column: 1/4;
  }
}
.catalog__item:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.catalog__item-number {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 11px;
}
@media (min-width: 1200px) {
  .catalog__item-number {
    color: #ffffff;
  }
}
.catalog__info {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .catalog__info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px 20px;
    background-color: #f2f2f2;
  }
  .catalog__info--background-color {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .catalog__info {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.catalog__info-inner {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .catalog__info-inner {
    margin-bottom: 0;
  }
}
.catalog__info-inner-like {
  display: flex;
  align-items: baseline;
}
.catalog__info-inner-like svg {
  fill: #000000;
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .catalog__info-inner-like svg {
    fill: #ffffff;
    opacity: inherit;
  }
}
.footer {
  font-family: "PT Sans", "Arial", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-left: calc(60px * 2);
    padding-right: calc(60px * 2);
  }
}
.footer__wripper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__wripper {
    flex-direction: initial;
    justify-content: space-between;
  }
}
.footer__hashtag-text {
  display: block;
  text-align: center;
  margin-bottom: 35px;
}
.footer__copyright-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
}
.footer__copyright-text {
  margin-right: 12px;
}
.form-page__body {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .form-page__body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .form-page__body {
    width: 1200px;
  }
}
.main-container-catalog {
  max-width: 1200px;
  margin: 0 auto;
}
.main-container-form {
  max-width: 1200px;
  margin: 0 auto;
}
.main-nav {
  position: relative;
  min-height: 56px;
}
.main-nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  text-decoration: none;
  text-align: center;
}
.main-nav__link--center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -27%);
  z-index: 5;
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}
.main-nav__item a {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 17px;
  padding-bottom: 12px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__item a {
    min-width: 153px;
    padding-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item a {
    min-width: 240px;
  }
}
.main-nav__item:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .main-nav__item:not(:last-child) {
    border-bottom: none;
  }
}
.main-nav--opened .main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #81b3d2;
  max-width: 320px;
  width: 100%;
  z-index: 10;
  box-shadow: -5px -10px 8px -7px rgba(34, 60, 80, 0.24) inset;
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__list {
    max-width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    z-index: 5;
    box-shadow: none;
  }
}
@media (min-width: 1200px) {
  .main-nav--opened .main-nav__list {
    max-width: 1200px;
  }
}
.main-nav--closed .main-nav__list {
  display: none;
}
@media (min-width: 768px) {
  .main-nav--closed .main-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    z-index: 5;
  }
}
@media (min-width: 768px) {
  .main-nav__item--right {
    margin-left: 153px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item--right {
    margin-left: 240px;
  }
}
.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  display: block;
  width: 45px;
  height: 55px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  background-color: #81b3d2;
  z-index: 15;
}
@media (min-width: 768px) {
  .main-nav--opened .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 18px;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
  z-index: 15;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(45deg);
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #81b3d2;
  width: 100%;
  z-index: 10;
}
.map {
  max-width: 320px;
}
@media (min-width: 768px) {
  .map {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .map {
    max-width: 1200px;
  }
}
.map img {
  object-fit: cover;
  width: 100%;
  display: block;
}
.map__size {
  margin-bottom: 10px;
}
.page-body {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
}
@media (min-width: 768px) {
  .page-body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-body {
    width: 1200px;
  }
}
.question__title {
  display: block;
  margin-bottom: 27px;
}
.question__aside {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .question__aside {
    width: 445px;
    margin: auto;
    margin-bottom: 38px;
  }
}
.question__wrapper {
  text-align: center;
  padding-top: 17px;
  padding-right: 25px;
  padding-left: 25px;
}
@media (min-width: 768px) {
  .question__wrapper {
    padding-top: 58px;
    margin-bottom: 40px;
  }
}
.question__video {
  background-image: url("../../img/video-thumb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 280px;
  height: 177px;
  position: relative;
}
.question__video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../../img/play.png") no-repeat center center;
}
@media (min-width: 768px) {
  .question__video {
    width: 648px;
    height: 500px;
    margin: 0  auto;
  }
}
@media (min-width: 1200px) {
  .question__video {
    width: 800px;
  }
}
.reviews__header {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 28px;
  margin-bottom: 24px;
  text-align: center;
  border-bottom: #e5e5e5 solid 1px;
}
@media (min-width: 768px) {
  .reviews__header {
    border-bottom: none;
  }
}
.reviews__title {
  margin-bottom: 24px;
}
.reviews__slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.reviews-form__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.reviews-form__small {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.reviews-form__small-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.reviews-form__field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
  position: relative;
}
@media (min-width: 768px) {
  .reviews-form__field {
    box-sizing: border-box;
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .reviews-form__field {
    width: 430px;
  }
}
.reviews-form__field::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
.reviews-form__field-contact {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
  position: relative;
}
@media (min-width: 768px) {
  .reviews-form__field-contact {
    box-sizing: border-box;
    width: 280px;
  }
}
@media (min-width: 1200px) {
  .reviews-form__field-contact {
    width: 430px;
  }
}
.reviews-form__field-contact::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
.reviews-form__label {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.title-form__field-area {
  font-family: "PT Sans", "Arial", sans-serif;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  height: 150px;
  width: 100%;
  margin-bottom: 56px;
  resize: none;
}
@media (min-width: 768px) {
  .title-form__field-area {
    height: 160px;
    margin-bottom: 48px;
  }
}
.reviews-form__button {
  width: 100%;
  padding: 18px 33px 14px 33px;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .reviews-form__button {
    width: 324px;
    box-sizing: border-box;
  }
}
.reviews-form__wrapper-textarea {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .reviews-form__wrapper-textarea {
    margin-bottom: 64px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .reviews-form__wrapper-textarea {
    padding-left: 216px;
    padding-right: 216px;
  }
}
@media (min-width: 768px) {
  .reviews-form__wrapper-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.title-form__field-area::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
.reviews-form__necessarily {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  display: block;
  text-align: right;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .reviews-form__necessarily {
    margin-bottom: 0;
  }
}
.reviews-form__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .reviews-form__container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .reviews-form__container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.reviews-form__inner {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 24px;
  border-bottom: #e5e5e5 solid 1px;
}
@media (min-width: 768px) {
  .reviews-form__inner {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
}
@media (min-width: 768px) {
  .reviews-form__inner--border-right {
    padding-right: 43px;
    padding-bottom: 15px;
    border-right: #e5e5e5 solid 1px;
  }
}
@media (min-width: 1200px) {
  .reviews-form__inner--border-right {
    padding-right: 50px;
  }
}
.reviews-form__wrapper {
  display: flex;
  flex-direction: column;
}
.reviews-form__wrapper-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.reviews-form__wrapper-field:not(:last-child) {
  margin-bottom: 16px;
}
.reviews-form__wrapper-field--phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-image: url("../../img/phone.png");
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  z-index: 55;
}
.reviews-form__wrapper-field--mail::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-image: url("../../img/mail.png");
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  z-index: 55;
}
.reviews-form__fieldset {
  border: none;
  border-bottom: #e5e5e5 solid 1px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .reviews-form__fieldset {
    padding: 0;
    border: none;
    margin-bottom: 56px;
  }
}
.reviews-form__fieldset--another .reviews-form__fieldset-item {
  width: 224px;
}
@media (min-width: 1200px) {
  .reviews-form__fieldset--another .reviews-form__fieldset-item {
    width: auto;
  }
}
.reviews-form__fieldset-title {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .reviews-form__fieldset-title {
    width: 272px;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
  }
  .reviews-form__fieldset-title::before {
    content: "";
    width: 648px;
    height: 1px;
    position: absolute;
    background-color: #dbdbdb;
    bottom: 50%;
    z-index: -5;
    left: -145px;
  }
}
@media (min-width: 1200px) {
  .reviews-form__fieldset-title::before {
    width: 960px;
    left: -302px;
  }
}
.reviews-form__fieldset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .reviews-form__fieldset-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 96px;
    padding-right: 134px;
  }
}
@media (min-width: 1200px) {
  .reviews-form__fieldset-list {
    padding-left: 173px;
    padding-right: 173px;
  }
}
@media (min-width: 768px) {
  .reviews-form__fieldset--another .reviews-form__fieldset-list {
    padding-left: 144px;
    padding-right: 144px;
  }
}
@media (min-width: 1200px) {
  .reviews-form__fieldset--another .reviews-form__fieldset-list {
    padding-left: 164px;
    padding-right: 164px;
  }
}
.reviews-form__control {
  position: relative;
  padding-left: 62px;
}
.reviews-form__input[type="radio"]:checked + .reviews-form__mark::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-color: #333333;
  border-radius: 50%;
}
.reviews-form__input[type="checkbox"]:checked + .reviews-form__mark::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../../img/tick.png");
  border-radius: 50%;
}
.reviews-form__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  left: 0;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
}
.reviews-form__mark--check {
  border-radius: 4px;
}
.reviews-form__fieldset-item:not(:last-child) {
  margin-bottom: 36px;
}
.search-hotel {
  padding: 38px 18px 49px 18px;
  text-align: center;
}
.search-hotel__question {
  display: block;
  margin-bottom: 19px;
  padding-left: 11px;
  padding-right: 11px;
}
.search-hotel__aside {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  margin-bottom: 32px;
  padding-left: 11px;
  padding-right: 11px;
}
.search-hotel__aside--end {
  display: none;
}
@media (min-width: 768px) {
  .search-hotel__aside--end {
    display: inline-block;
  }
}
.search-hotel__wrapper {
  margin: 0 auto;
}
.background-img {
  background-image: url("../../img/background-forest.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 32px;
  padding-top: 90px;
  padding-bottom: 85px;
  position: relative;
}
.background-img--catalog {
  padding-top: 52px;
  padding-bottom: 67px;
  background-position: center bottom;
}
.background-img::before {
  content: "";
  position: absolute;
  background: url("../../img/intro-triangle.svg.png") no-repeat bottom;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .background-img::before {
    background: url("../../img/intro-triangle-tablet.svg") no-repeat bottom;
    bottom: -1px;
  }
}
@media (min-width: 1200px) {
  .background-img::before {
    background: url("../../img/intro-triangle-desktop.svg") no-repeat bottom;
  }
}
.background-img__hero {
  object-fit: contain;
  width: 100%;
}
.social {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .social {
    margin-bottom: 0;
  }
}
.social__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  width: 156px;
  justify-content: space-between;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
